body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #e5f0ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

    background-image:
      url('assets/bg-puzzle11.png'),
      url('assets/bg-puzzle9.png'),
      url('assets/bg-puzzle8.png'),
      url('assets/bg-puzzle10.png');

   background-repeat: no-repeat;

    background-size:
      min(20vw, 200px),
      min(20vw, 200px),
      min(20vw, 200px),
      min(20vw, 300px);

    background-position:
      20px 20px,
      calc(100% - 220px) 20px,
      20px calc(150% - 220px),
      calc(120% - 220px) calc(150% - 220px);
  }
  
  .container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 12px;
    width: 500px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    position: relative;
  }
  
  .header {
    color: #0f3a5c;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 6px;
    color: #0f3a5c;
    font-weight: bold;
  }
  
  .input-group input {
    width: 100%;
    padding: 8px;
    border: 2px solid #aaccee;
    border-radius: 6px;
  }
  
  .radio-group {
    margin-top: 10px;
  }
  
  .radio-group label {
    color: #0f3a5c;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }
  
  .radio-group input[type="radio"] {
    margin-right: 5px;
  }
  
  .submit-btn {
    background-color: #397ef6;
    color: white;
    font-size: 16px;
    padding: 10px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .puzzle-img {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 80px;
  }
  
